# site
PORT=9000
GIN_MODE=${GIN_MODE}
DB_USER=${DB_USER}
DB_PASSWORD=${DB_PASSWORD}
DB_HOST=${DB_HOST}
DB_PORT=${DB_PORT}
DB_NAME=${DB_NAME}
DB_SSLMODE=${DB_SSLMODE}
VERSION=develop-local
ENVIRONMENT=${ENVIRONMENT}

# encryption
ENCRYPTION_KEY_VERSIONS=${ENCRYPTION_KEY_VERSIONS}
ENCRYPTION_CURRENT_VERSION=${ENCRYPTION_CURRENT_VERSION}
ENCRYPTION_MASTER_KEY_V1=${ENCRYPTION_MASTER_KEY_V1}
ENCRYPTION_SALT_V1=${ENCRYPTION_SALT_V1}

# aliyun fc deployment
ALIYUN_FC_ACCESS_KEY_ID=${ALIYUN_FC_ACCESS_KEY_ID}
ALIYUN_FC_ACCESS_KEY_SECRET=${ALIYUN_FC_ACCESS_KEY_SECRET}

# aliyun oss
ALIYUN_OSS_ENDPOINT=oss-ap-southeast-1.aliyuncs.com
ALIYUN_OSS_ACCESS_KEY_ID=${ALIYUN_OSS_ACCESS_KEY_ID}
ALIYUN_OSS_ACCESS_KEY_SECRET=${ALIYUN_OSS_ACCESS_KEY_SECRET}
ALIYUN_OSS_BUCKET_NAME=wawago

# aliyun smq
ALIYUN_SMQ_ENDPOINT=${ALIYUN_SMQ_ENDPOINT}
ALIYUN_SMQ_ACCESS_KEY_ID=${ALIYUN_SMQ_ACCESS_KEY_ID}
ALIYUN_SMQ_ACCESS_KEY_SECRET=${ALIYUN_SMQ_ACCESS_KEY_SECRET}
ALIYUN_SMQ_QUEUE_NAME=${ALIYUN_SMQ_QUEUE_NAME}
ALIYUN_SMQ_MAX_DEQUEUE_COUNT=3

# Google
GOOGLE_MAP_APIKEY=${GOOGLE_MAP_APIKEY}

# Whatsapp
META_APP_ID=${META_APP_ID}
META_APP_SECRET=${META_APP_SECRET}
WHATSAPP_WEBHOOK_VERIFY_TOKEN=${WHATSAPP_WEBHOOK_VERIFY_TOKEN}

# ably
ABLY_API_KEY=${ABLY_API_KEY}

# commerce
COMMERCE_WEBSITE_DOMAIN=${COMMERCE_WEBSITE_DOMAIN}